@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

.principal {

background-color: rgb(0, 0, 0);
color: aliceblue;
font-family: 'Pixelify Sans', sans-serif;
}

