@charset "UTF-8";
* {
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    text-align:center;
    margin:20px 0px;
}
section#container {
    row-gap: 3px;
    gap: 3px;
    grid-template-rows: 55px 25px 25px 25px 25px 25px 120px 55px 25px 25px 25px 25px 25px;
    grid-template-columns:200px 130px 130px 130px 130px 130px 106px 130px 170px;
    display:grid;
    background-color:purple;
    width:1280px;
    height:720px;
    margin:0px auto;
    border-radius: 20px;
    overflow: hidden;
}
div.cabeça1{
    text-align: center;
    font-weight: bolder;
    font-size:large;
    background-color:gray;
    color: white;
    line-height: 55px; /* Ajuste o valor conforme necessário */
}
div.corpo1{
    text-align: center;
    font-weight: bolder;
    font-size:medium;
    background-color:gray;
    color: white;
    line-height:25px;
}
div.midRow {
	width: 1280px;
	margin:10px 0px;
	background-color: lightgrey;
}